#navbarNav ul li a {
    color: #222;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
#navbarNav ul li a:hover {
    color: #ff2379;
    transition: .3s;
}
.active {
    color: #ff2379 !important;
}
/* Slider Section */
.signal-slider {
    background: #fceae8;
    padding: 75px;
    border-radius: 10px;
}
.right-side h2 {
    color: #222;
    font-size: 45px;
    font-weight: 700;
}
.right-side p {
    color: #222;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}
button.btn.btn-warning.custom {
    font-size: 20px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
